workflow:
  rules:
    - if: $CI_COMMIT_REF_PROTECTED == "true"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

stages:
  - test
  - release

variables:
  NODE_ENV: development
  PRE_COMMIT_HOME: ${CI_PROJECT_DIR}/.cache/pre-commit
  # We have to disable sigstore for now since NPM currently only supports
  # provenance when publishing from a gitlab-hosted runner. Hopefully we can
  # enable this in the future once they drop this limitation (which should be
  # possible since PyPI has no such limitation on their use of sigstore).
  NPM_CONFIG_PROVENANCE: "false"

.dev_dependency_job: &dev_dependency_job
  image: node:24@sha256:b2b2184ba9b78c022e1d6a7924ec6fba577adf28f15c9d9c457730cc4ad3807a
  before_script:
    - npm ci
  cache:
    key: devdependencies
    paths:
      - node_modules

include:
  - component: gitlab.com/thelabnyc/thelab-ci-components/review@0.6.2
  - component: gitlab.com/thelabnyc/thelab-ci-components/precommit@0.6.2
    inputs:
      image: registry.gitlab.com/thelabnyc/python:3.13-node24@sha256:8ec4b47768a2beb5ea382543be759cc0460a02c4ca4b5444e15a16f3a37163df
  - component: gitlab.com/thelabnyc/thelab-ci-components/publish-gitlab-release@0.6.2
  - component: gitlab.com/thelabnyc/thelab-ci-components/publish-to-npm@0.6.2

test:
  <<: *dev_dependency_job
  stage: test
  needs: []
  script:
    - npm run check
    - npm run build
    - npm run test
